html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 100px;
}

.page-header {
	border-bottom: none;
}

#time_display {
	height: 50px;
}

.difficulty {
	font-size: 25px;
}

#question {
	color: #ffa366;
	/*font-family: 'jubilat', Georgia, serif;*/
}

.right {
	text-align: right;
}

.table {
/*	width: 80%;
	margin-left: 65px;
*/	margin-top: 20px;
}

.table thead tr th,
.table tbody tr td {
	border-bottom: none;
	border-top: none;
}

/*tbody tr td:nth-child(0) {
	text-align: left;
}
*/
h6 {
	text-align: left;
	margin-top: 0;
	margin-bottom: 10px;
}

.btn {
	border: none;
}

.glyphicon-ok {
	color: green;
	margin-left: 5px;
}

.glyphicon-remove {
	color: red;
	margin-left: 5px;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: unset;
}

.panel {
	height: 400px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	border: none;
}

.list-group {
	padding-right: 0;
}

.list-group-item {
	background-color: #2e3338;
	border: none;
}

.centered {
	text-align: center;
	margin-bottom: 25px;
}

i {
	color: #c8c8c8;
	font-size: 24px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 85px;
}

#r_pod {
	color: #0fc;
}